/* FOR FIX a-image is not centered */
img.ant-image-preview-img {
  display: inline-block !important;
}

/* a-input rounded globally */
.ant-input-affix-wrapper {
  border-radius: 20px !important;
}

.ant-menu-submenu-arrow {
  color: white !important;
}

code {
  background-color: #2c292d !important;
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}
